{{#each this}}
<div class="media-event-bio" data-event-id={{id}}>
	<div class="media-bio-pic">
		<img src="{{img}}" alt="event picture">
	</div>
	<div class="media-bio-content">
		<div>
			<h3>{{name}}</h3>
		</div>
		<div>
			<p>{{bio}}</p>			
				<a class="event-link-out" href="{{url}}">{{url}}</a>			
				<p class="tag-it {{#if isTagged}}hidden{{/if}}">
					<i class="fa fa-plus"></i><span class="tag-icon">Tag this event</span>
				</p>
				<p class="untag-it {{#if isTagged}}{{else}}hidden{{/if}}">
					<i class="fa fa-minus"></i><span class="tag-icon">Untag this event</span>
				</p>
				<p class="whos-going">
					<i class="fa fa-pie-chart"></i></i><span class="tag-icon">Who's going</span>
				</p>
		</div>
	</div>
</div>
{{/each}}


